<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>

    <fieldset>
    <h2>Time Remaining: {{remain_time }}</h2>
    {% if question %}
    <h1>{{ sr }}. {{ question.question }}</h1><br>
    {% endif %}
    <form method = 'post' action = '{% url "quiz_post" %}'>
        {% csrf_token %}
        Attempt 1: <input type = 'number' name = 'attempt1' id='attempt1' ><br><br>
        Attempt 2: <input type = 'number' name = 'attempt2' id='attempt2'><br><br>
        <input type = 'submit' value = 'Submit' name = 'submit'><br><br>
    </form>
    </fieldset>
    <h1>Your current score is {{abc}}.</h1>
    <p>{{user_to_update.decision}}</p>
    <form method = 'post' action = '{% url "logout" %}'>
        {% csrf_token %}
        <input type = 'submit' value = 'Logout' name = 'submit'>
    </form>
    <script type="text/javascript">
        
       
    </script>
    </body>
    </html>